{% extends 'layout.html' %}

{% block title %}
Home Page
{% endblock  %}

{% block content %}
<h1 class="text-2xl text-yellow-500">Chai aur code | Home page</h1>

<p class="container mx-auto mt-10">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat tempore numquam possimus accusamus vero velit eveniet voluptatum adipisci doloremque blanditiis delectus ratione rem at unde dolores voluptatibus architecto et reprehenderit aspernatur, ullam distinctio, libero quisquam quaerat! Laboriosam, soluta deleniti nam modi quam recusandae ea quod, aliquam nesciunt, nemo quia explicabo?
</p>
{% endblock  %}